{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Compras</h6>
        {% if perms.cmp.add_proveedor %}
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                <a class="dropdown-item" href="{% url 'cmp_app:compras_new' %}"><i class="far fa-calendar-plus"></i> Nuevo</a>
                <a class="dropdown-item" href="{% url 'cmp_app:compras_print_all %}"><i class="fas fa-print"></i> Listado</a>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj %}
        <div class="alert alert-info">No hay compras</div>
        {% else %}
        <table class="table table-sm table-striped table-hover dt-responsive nowrap" style="width:100%;" id="tbl_listacompras">
            <thead>
            <th>Id</th>
            <th>Fecha</th>
            <th>Observ.</th>
            <th>Factura</th>
            <th>Fecha Fac</th>
            <th>SubTotal</th>
            <th>Desc</th>
            <th>Total</th>
            <th>Estado</th>
            <th class="all">Acciones</th>
            </thead>
            <tbody>
            {% for item in obj %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.fecha_compra }}</td>
                <td>{{ item.observacion }}</td>
                <td>{{ item.nro_factura }}</td>
                <td>{{ item.fecha_factura }}</td>
                <td>{{ item.subtotal }}</td>
                <td>{{ item.descuento }}</td>
                <td>{{ item.total }}</td>
                <td>{{ item.estado|yesno:"Activo,Inactivo" }}</td>
                <td>
                    <a class="btn btn-warning btn-circle btn-sm" href="{% url 'cmp_app:compra_edit' item.id %}">
                        <i class="far fa-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock page_content %}

{% block js_page %}
<script>
    $(document).ready(function() {
        $('#tbl_listacompras').DataTable({
            language: {
                decimal: ",",
                thousands: ".",
            },
        });
    });
</script>
{% endblock js_page %}