<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado de Compras</title>
    <style type="text/css">
    @page {
        size: letter;
        margin: 1cm;
    }

    .table td .numero {
        text-align: center;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Sistema de Compras AR</h3>
        </div>
        <div class="list-group">
            <p>Nro.Compra: {{ encabezado.id }}</p>
            <table class="">
                <tr>
                    <td>Proveedor:</td>
                    <td>{{ encabezado.proveedor }}</td>
                    <td>Fecha Compra:</td>
                    <td>{{ encabezado.fecha_compra|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>Nro.Factura</td>
                    <td>{{ encabezado.nro_factura }}</td>
                    <td>Fecha Factura:</td>
                    <td>{{ encabezado.fecha_factura|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>Observación:</td>
                    <td colspan="3">{{ encabezado.observacion }}</td>
                </tr>
            </table>
            <hr>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Venta</th>
                <th>SubTotal</th>
                <th>Descuento</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for item in detalle %}
            <tr>
                <td><span class="small">{{ item.producto }}</span></td>
                <td class="numero">{{ item.cantidad }}</td>
                <td class="numero">{{ item.precio_prv }}</td>
                <td class="numero">{{ item.subtotal }}</td>
                <td class="numero">{{ item.descuento }}</td>
                <td class="numero">{{ item.total }}</td>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>