{% extends 'base/base.html' %}

{% block page_content %}
<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Categorías</h6>
        {% if perms.inv.add_categoria %}
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                <a class="dropdown-item" href="{% url 'inv_app:categoria_add' %}">Nuevo</a>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj %}
        No hay categorías
        {% else %}
        <table class="table table-sm table-striped table-hover" id="tbl_listado">
            <thead>
            <th>Id</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>F.Creado</th>
            <th>F.Modif</th>
            <th class="all">Acciones</th>
            </thead>
            <tbody>
            {% for item in obj %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.estado|yesno:"Activo,Inactivo" }}</td>
                <td>{{ item.fc|date:"d/m/Y H:i:s" }}</td>
                <td>{{ item.fm|date:"d/m/Y H:i:s" }}</td>
                <td>
                    {% if perms.inv.change_categoria %}
                    <a href="{% url 'inv_app:categoria_edit' item.id %}" class="btn btn-warning btn-circle btn-sm"
                       role="button"><i class="far fa-edit"></i></a>
                    {% endif %}
                    {% if perms.inv.delete_categoria %}
                    <a href="{% url 'inv_app:categoria_inactivar' item.id %}" class="btn btn-danger btn-circle btn-sm" role="button"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock page_content %}

{% block js_page %}
<script>
    $(document).ready(function() {
        $('#tbl_listado').DataTable();
    });
</script>
{% endblock js_page %}