<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form method="POST" role="form" class="form-inline" action="{% if obj %}{% url 'fac_app:cliente_edit' obj.pk %}{% else %}{% url 'fac_app:cliente_add' %}{% endif %}">{% csrf_token %}
            <div class="col-xl-12 col-md-12 mb-12">
                <div class="card border-left-{% if obj %}warning{% else %}success{% endif %} shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if obj %}Editar{% else %}Nuevo{% endif %} Cliente
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    {{ form.as_p }}
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-danger"><span
                                                class="fa fa-save"></span> Guardar</button>
                                        <button type="button" class="btn btn-success" onclick="return cerrar_modal()"><span class="fa fa-undo"></span> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
