{% extends 'bases/index.html' %}

{% block content_wrapper %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Listado de Usuarios</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Listado de Usuarios</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock content_wrapper %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <!-- <h3 class="card-title">DataTable</h3> -->
                <a href="{% url 'bases_app:user_add' %}" class="btn btn-app bg-info"><i class="fas fa-user-plus"></i></a>
            </div>

            <div class="card-body">
                <table id="tbl" class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in obj %}
                        <tr>
                            <td>{{ i.id}}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.get_full_name }}</td>
                            <td>
                                {% if not item.is_staff%}
                                    {% if not i.is_staff %}
                                    <a href="{% url 'bases_app:user_modify' i.id %}" class="btn btn-sm text-warning"><i class="fa fa-edit"></i></a>
                                    {% elif user.is_staff %}
                                    <a href="{% url 'bases_app:user_modify' i.id %}" class="btn btn-sm text-warning"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    